@import "../../assets/styles/global";

.dashboardContainer {
  align-self: center;
  a {
    text-decoration: none;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: $primary;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    direction: rtl;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      background-color: darken($primary, 10%);
    }
  }
  .headerStat {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    & > div {
      display: flex;
      gap: 20px;
      & > div {
        background-color: #1d1e21;
        width: 200px;
        padding: 10px 20px;
        font-weight: bold;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba($primary, 0.25);
        span {
          display: block;
          font-weight: normal;
        }
      }
    }
  }
}
.importButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  .custom-file-input {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 17px;
    overflow: hidden;
    cursor: pointer;
    background-color: #007bff;
    border-radius: 8px;
    padding: 3px 10px;
  }

  .custom-file-input input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }

  .custom-file-input button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  button {
    margin-top: 30px;
    text-decoration: none;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: $primary;
    color: white;
    font-weight: bold;
    text-align: center;
    direction: rtl;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      background-color: darken($primary, 10%);
    }
  }
}
.filtersContainer {
  display: flex;
  align-self: center;
  gap: 20px;
  margin-top: 30px;
  & > div {
    cursor: pointer;
    input,
    select {
      color: $white;
      background-color: #1d1e21;
      box-shadow: 0px 0px 10px rgba($primary, 0.25);
      border-radius: 8px;
      outline: none;
      border: 1px solid rgba($primary, 0.25);
      padding: 2px 4px;
    }
  }
}
.tabsContainer {
  display: flex;
  align-self: center;
  gap: 20px;
  margin-top: 30px;

  & > div {
    background-color: #1d1e21;
    padding: 3px 10px;
    border-radius: 8px;
    cursor: pointer;
  }
  .active {
    color: $white;
    background-color: $primary;
  }
}
